<html>
	<head>
		<style type="Indent"></style>
			p {
				text-indent: 50px;
			}
	</head>
	<body>
		<p>
			<center><u><h1> About the Man, the Mystery...Claude Mompoint</h1></u></center>
			<center><img src="https://dl-web.dropbox.com/get/showcase/Profile.jpg?_subject_uid=367668624&w=AADlnzLQgnYyUcSoB_RO0soEmbF_DBrQiXfyL0nM5BPGqQ" align = "middle" /></center>
			<br>
			<h3><font color  = "gray">WHO //</font> Claude Mompoint </h3>
			<h3><font color  = "gray">WHAT //</font> Technical Product Manager </h3>
			<h3><font color  = "gray">WHERE //</font> Careerbuilder, LLC </h3>
			<h3><font color  = "gray">WHEN //</font> January 1, 2015 - until </h3>
			<h3><font color  = "gray">WHY //</font> I have been with Careerbuilder going on 8 years and have seen so many departments, but it wasn't until I landed into the Consumer Web Developemnt department where I truly found a home.  I began with the department as a Product Development Manager and since my role has eveolved to be able to work more closely with our developers, as well as invest in taking my own programming classes (Yay Ruby on Rails!) </h3>
		</p>
	</body>
</html>