<html>
<head>
	<title>My Blog</title>
	<style>
		body {
				background-color: yellow;
				border: 5px solid gray;
				padding: 20px;
			}
	</style>
</head>
<body>
<h1 align= "center"><u>My Blog</u></h1>
<center><img src="https://dl-web.dropbox.com/get/showcase/Blog.jpg?_subject_uid=367668624&w=AAAt6P1o9IzhgH8UW86mn76DXtMPvqvUieNAgWhSt2HciA"/></center>

<!--<h3>My First Post</h3>
<em>January 17, 2015/em><br />
<p>This is a post</p>
<hr>-->

<h3>My First Post</h3>
<em>January 17, 2015</em><br />
<p>Today, I took the time to work on my Bio page for my Rails class.  I must say that whole process was stressful.  Granted i'm using a new Mac so I have to get some of the kinks out of it, but still...I blame Heroku they made me feel like the crazy person.  But by the end of the evening I had my app pointing to the right domain and all is well with the world</p>
<hr>

<h3>Blog Day/AFC Championship</h3>
<em>January 18, 2015</em><br />
<p>Today I want to finish up the creating of my Blog page, maybe trying to incorporate a Header on my site.  And then this evening, the stress level will increase when my Colts go up against the Patriots in the AFC Championship.  If the Colts play like they did against the Broncos we will see the Super Bowl in 2 weeks...Stay Tuned</p>
<hr>

<p>Find me in app/views/welcome/blog.html.erb</p>
</body>

</html>
