
<html>
<head>
	<style>
	div {
    width: 300px;
    padding: 25px;
    background-color: blue;
    border: 25px black;
    margin: 25px;
}
	</style>
</head>
<body>
<div>Claude Mompoint</div>
</body>
</html>