<body>
<h1 align= "center"> Contact Me Page</h1>
<center><img src ="<%= image_path('funnypic.jpg') %>"/></center>
<br/>
<h2>Claude Mompoint</h2>
<h2><a href="mailto:claude.mompoint@careerbuilder.com">claude.mompoint@careerbuilder.com</a></h2> 
<br/>
<a href= "/?welcome=You Came From Contact Us"> Go To Home Page </a>
</body>