<html>
<head>
	<title> Claude Mompoint </title>
	<link rel="stylesheet" href="assets/stylesheets/application.css">
</head>
<body>
	<h1>Welcome#index</h1>
	<p>Find me in app/views/welcome/index.html.erb</p>
	<h3><a href = "/welcome/about"> Learn About Me </a></h3>
	<h3><a href = "/welcome/blog"> What I'm Thinking </a></h3>
</body>
</html>
