<html>
<head>
	<title> Claude Mompoint </title>
	<!--<link rel="stylesheet" href="assets/application.css">-->
</head>
<body>
	<h1><center>Claude's Life, Brace yourself....<center></h1>
	<center><%= image_tag "family.jpg" %></center>
	<h3><a href = "/welcome/about"> Learn About Me </a></h3>
	<h3><a href = "/welcome/blog"> What I'm Thinking </a></h3>
	<p>Find me in app/views/welcome/index.html.erb</p>
</body>
</html>
